.formGroup {
  display: flex;
  flex-direction: column;
}
.formGroup p {
  margin-bottom: 0;
}
select {
  width: 180px;
}
.submit {
  cursor: pointer;
  background: rgb(72, 173, 49);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}